
doctype html
html(lang="en")
    head
        - var title = "About Us"
        include ../../includes/head
    body
        .container
            .col-xs-12
                h1="Hello world"
        include ../../includes/script